<!DOCTYPE html>
<html>

<head>

    <title>Home</title>
    <meta charset="utf-8">
    <meta name="description" content="Staff homepage">
    
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- AdminLTE -->
    <link href="css/AdminLTE.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- Cookies! -->
    <script src="js/cookies.js"></script> <!-- Cookie functions -->
    <script src="js/cookies2.js"></script> <!-- Cookie2 -->
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body class="skin-blue wysihtml5-supported pace-done" style="min-height: 879px;">
    
    <header class="header">
        <!-- Place header logo here: -->
        <a>"GAMIFICATION!!!!"</a>
            
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button -->
            <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <!-- User Account: style can be found in dropdown.less -->
                    <li>
                        <!-- Link to logout -->
                        <a href="/logout">
                            <span>Logout</span>
                        </a>
                    </li>
                    <li>
                        <!-- Link to homepage -->
                        <a href="/home">
                            <span>Homepage</span>
                        </a>
                    </li>
                    <li>
                        <!-- Link to profile page:-->
                        <a href="../../profile">
                            <!-- Name of current user: -->
                            <i>
                                <span id='ANAME0'>User</span>
                            </i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>    
    </header>
    
    <div class="wrapper row-offcanvas row-offcanvas-left" style="min-height: 574px;">
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="left-side sidebar-offcanvas" style="min-height: 879px;">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left info">
                        <!-- Sidebar profile -->
                        <p> Hello, <b id='ANAME1'>User</b></p>
                    </div>
                </div>
                <!-- sidebar menu: style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <!-- Home page Button -->
                    <li>
                        <a href="/home">
                            <span>Homepage</span>
                        </a>
                    </li>
                    <!-- Profile Button -->
                    <li>
                        <a href="/profile">
                            <span>My Profile </span>
                        </a>
                    </li>
                    <li>
                        <a href="/my_units">
                            <span>Units</span>
                        </a>
                    </li>
                    <!-- Logout Button -->
                    <li>
                        <a href="/logout">
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </section>
        </aside>
        
        <aside class="right-side">
            <!-- Content Header (Page Header) -->
            <section class="content-header">
                <h1>
                    Welcome!
                    <small>
                        this is {{.Username}}'s profile page
                    </small>
                </h1>
            </section>
            
            <!-- Main Content -->
            <section class="content">
                <!-- Notifications Section: This is just to make the page look a bit better -->
                <h4 class="page-header">Notifications</h4>
                <div class="row">
                    <div class="col-md-6">
                        <!-- Made using Info Box -->
                        <div class="box box-solid bg-aqua">
                            <div class="box-Header">
                                <h3 class="box-title">Info</h3>
                            </div>
                            <div class="box-body">
                                <p>
                                   Welcome to {{.Title}} {{.Username}}'s profile page.
                                </p>
                                <p>
                                    Email: {{.Email}}
                                </p>
                                <p>
                                    Level: {{.Level}}
                                </p>
                                <p>
                                    Exp: {{.Exp}}
                                </p>
                                <p>
                                    Points: {{.Points}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="page-header">{{.Username}}'s Units</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="box-body">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th style="width: 30px">Unit Name</th>
                                    {{range .Units}}
                                    <tr>
                                        <td>
                                            {{.}}
                                        </td>
                                    </tr>
                                    {{end}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <h4 class="page-header">{{.Username}}'s Description</h4>
                <div class="row">
                    <div class="col-md-6">
                        <p>{{.Description}}</p>
                    </div>
                </div>
                <h4 class="page-header">{{.Username}}'s Acheivements</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="box-body no-padding">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th>Achievement</th>
                                    </tr>
                                    {{range .Achievements}}
                                    <tr>
                                        <td>
                                            {{.}}
                                        </td>
                                    </tr>
                                    {{end}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </aside>
    </div>

</body>
</html>