<!DOCTYPE html>

<html>

<head>

    <title>Add Student</title>
    <meta charset="utf-8">
    <meta name="description" content="Add student">
    <link rel="stylesheet" href="style.css">

    <!-- This is a comment, by the way -->

</head>

  <body>
  
    <h2>Please Enter Student Details:</h2>
    <form action="/wishes" method="POST" class="pure-form">
      <input type="text" name="name" placeholder="name" />
      <input type="text" name="description" placeholder="description" />
      <input type="submit" value="submit" class="pure-button pure-button-primary"/>
    </form>
  </body>
</html>
