<!DOCTYPE html>

<html>

<head>

    <title>Add Student</title>
    <meta charset="utf-8">
    <meta name="description" content="Add student">
    <link rel="stylesheet" href="style.css">

    <!-- This is a comment, by the way -->

</head>

  <body>
  
    <h2>Please Enter Student Details:</h2>
    <form method="POST">
      <input type="text" placeholder="Username" name="name" /><br />
      <input type="password" placeholder="Password" name="password" />
      <button>Login</button>
    </form>
  </body>
</html>
