<!DOCTYPE html>

<html>

<head>

    <title>Add Student</title>
    <meta charset="utf-8">
    <meta name="description" content="Add student">
    <link rel="stylesheet" href="style.css">

    <!-- This is a comment, by the way -->

</head>

  <body>
  <div>
    <p>The following student has been added:</p>
    <p>{{.Username}} - {{.Email}}</p>
    <p><a href="/students"> Back to Student Index </a></p>

  </body>
</html>
