<!DOCTYPE html>

<html>

<head>

    <title>Remove Student</title>
    <meta charset="utf-8">
    <meta name="description" content="Remove student">
    <link rel="stylesheet" href="style.css">

    <!-- This is a comment, by the way -->

</head>

  <body>
    
    <h2>Please Enter Student Details:</h2>
    <p>Warning: This will remove the student completely from the database. </p>
    <p>Are you sure you want to do this:</p>
    
    <form method="POST">
      <p><input type="radio" name="confirm_student_delete" value="yes"></p>
      <input type="radio" name="confirm_student_delete" value="no">
    </form>
  </body>
</html>
