<!DOCTYPE html>
<html>
<head>
    <title>Student Removed!</title>
    <meta charset="utf-8">
    <meta name="description" content="Student removed">
    <link rel="stylesheet" href="style.css">
    
</head>

<body>
    <p> The student has been removed: {{.}}<p>
    <p> <a href="/students">Back to students page</a></p>
</body>
</html>